.hg/
.settings/org.eclipse.core.resources.prefs
.pydevproject
.project
*.pyc
src/data/imgs/ChocolateJack/LP_Right_1.png
src/data/imgs/ChocolateJack/LP_Right_2.png
src/data/imgs/ChocolateJack/LP_Right_3.png
src/data/imgs/ChocolateJack/New Chocolate Jack Sprite Size.psd
src/data/imgs/New Chocolate Jack.psd
